<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString"
		  connectionString="workstation id=marvel1.mssql.somee.com;packet size=4096;user id=usmanvilla_SQLLogin_1;pwd=56ryuwwxp7;data source=marvel1.mssql.somee.com;persist security info=False;initial catalog=marvel1" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
	  <httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="*" />
			  <add name="Access-Control-Allow-Headers" value="Content-Type" />
			  <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE,     OPTIONS" />
			  <!--<add name="Access-Control-Allow-Headers" value="Content-Type, X-Your-Extra-Header-Key" />-->
		  </customHeaders>
	  </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
